[core]
	editor = \"D:\\Users\\erick\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = Erick Santos
	email = 16109127+ericksantos12@users.noreply.github.com
[safe]
	directory = D:/Projetos
[credential]
	helper = cache
